/* Reset dasar */
* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* Background */
body {
    background-color: #f2f7ff;
    margin: 0;
    padding: 20px;
}

/* Judul */
h2 {
    color: #0a3d91;
}

/* Link */
a {
    text-decoration: none;
    color: white;
    background-color: #0a3d91;
    padding: 6px 12px;
    border-radius: 5px;
}

a:hover {
    background-color: #062e6f;
}

/* Tabel */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

table th {
    background-color: #0a3d91;
    color: white;
    padding: 10px;
}

table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

/* Tombol */
button {
    background-color: #0a3d91;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #062e6f;
}

/* Form */
form {
    background-color: white;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
